
@{
    @using Microsoft.Extensions.Localization
    @inject IStringLocalizer<Resource> localizer
    
}


    <section>
        <div class="panel panel-primary">
            <div class="panel-heading">
                @localizer["AboutUs"]
            </div>
            <div class="panel-body">
                <p>@localizer["AboutUsDetails1"]</p>
                <p>@localizer["AboutUsDetails2"]</p>
            </div>
        </div>
    </section>
