
@{
    
}


    <section>
        <div class="panel panel-primary">
            <div class="panel-heading">
                O nama:
            </div>
            <div class="panel-body">
                <p>Auto oglasi su već 26 godina sinonim za oglašavanje i prvi izbor za kupovinu i prodaju automobila. Ranije najtiražniji oglasnik na tržištu, a sada sajt www.autooglasi.com sa preko 2.500.000 jedinstvenih posetilaca mesečno, predstavlja najveću kupoprodajnu berzu u Srbiji.</p>
                <p>Svakog dana oko trideset zaposlenih vredno radi kako bi Auto oglase učinili još boljim. Od samog početka pažljivo gradimo vezu, osluškujemo sve primedbe i trudimo se da na najadekvatniji način izađemo u susret željama naših korisnika. Zbog svega toga su nam milioni korisnika ukazali svoje poverenje i time osigurali čvrstu poziciju lidera na tržištu.</p>
            </div>
        </div>
    </section>
